[Unit]
Description=Fake SSH Server
After=network.target
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=10
User=root
ExecStart=python /usr/local/bin/fake-ssh/fake_ssh.py

[Install]
WantedBy=multi-user.target
